.**
**/*.orig
**/*.bak
**/todo
**/Notes.md

/* Root Folders */

backups
Desktop
Documents
Downloads
Gimp
git
Images
Library
Movies
Music
Musique
Pictures
projects
Téléchargements
Videos
Zenika

!.README.md
!.init-home.sh

!.gitconfig
!.gitignore
!.gitignore_global

!.zshrc
!.xinitrc
!.profile
!.Xresources
!.config/mimeapps.list
!.npmrc

!.zsh/

!.oh-my-zsh/custom/themes/robberyssull.zsh-theme
!.spectrwm.conf
!.config/alacritty/alacritty.yml
!.gtkrc-2.0
!.wallpaper

/* XDG Config */

!.config/
.config/*
!.config/gtk-3.0/colors.css
!.config/gtk-3.0/gtk.css
!.config/gtk-3.0/settings.ini
!.config/Kvantum/
!.config/kdeglobals
!.config/picom.conf
!.config/qt5ct/qt5ct.conf
!.config/rofi/config.rasi
!.config/dunst/dunstrc
!.config/dolphinrc.tpl
!.config/GIMP/2.10/*
!.config/GIMP/2.10/contextrc
!.config/GIMP/2.10/devicerc
!.config/GIMP/2.10/gimprc
!.config/htop/htoprc
!.config/nomacs/Image Lounge.conf
!.config/redshift/hooks/backlight.sh
!.config/redshift/redshift.conf
!.config/nvim/
!.config/brewfile/


/* VIM */

!.vim/
.vim/*
!.ctags.d/terraform.ctags
!.vim/after/
!.vim/plugins.vim
!.vim/undo/.gitkeep
!.viminitrc
!.vimrc


/* XMonad */

!.xmonad/
.xmonad/**/*.o
.xmonad/**/*.hi
.xmonad/xmonad-example-configs/
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/lib/Config.hs


/* binaries */

!.local/
.local/*
.local/bin/*
!.local/bin/
!.local/bin/battery-check
!.local/bin/lock
!.local/bin/monitor-selector
!.local/bin/nomacs
!.local/bin/screencast
!.local/bin/wwwwrap
