[include]
  path = ~/.gitconfig.local
  path = ~/.themes/gruvbox-light/delta.gitconfig
  path = ~/.themes/current/delta.gitconfig

[core]
  pager = delta
  excludesfile = ~/.gitignore_global
  hooksPath =  ~/.git-hooks/

[alias]
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  bsu = ! git branch --set-upstream-to=origin/$(git branch --show-current)
  psu = ! git push --set-upstream origin $(git branch --show-current)
  p = pull
  pf = push --force-with-lease
  c = checkout
  co = commit -a
  com = ! git commit -am \"$COMMIT_MESSAGE\"
  coma = commit --amend
  comac = commit --amend -C HEAD
  coche = commit -a -C HEAD --date=now --edit
  cl = ! git clone $(xclip -o)
  r = reflog -25
  s = status
  cb = checkout -b
  mt = mergetool
  l = log -1 --format=format:%s
  ll = ! git log -1 | bat
  lh = log -1 --format=%h
  plog = log --reverse --abbrev-commit -15 --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(white)%s%C(reset)%n          %C(red)%an%C(reset) %C(dim white)(%ar)%C(reset)%d%C(reset)%n'
  slog = log --reverse --abbrev-commit -15 --decorate --format=format:'%C(white)%ci%C(reset) %C(yellow)%s%C(reset) %C(dim white)%an%C(reset)%d%C(reset)'
  graph = log --graph --all --abbrev-commit -50 --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(white)%s%C(reset)%n          %C(red)%an%C(reset) %C(dim white)(%ar)%C(reset)%d%C(reset)%n'
  dr = ! git diff origin/$(git branch --show-current)
  b = branch
  br = branch -r
  st = ! git stash -m \"$COMMIT_MESSAGE\"
  mt = mergetool
  cp = cherry-pick
  pp = ! git pull && git push

    # Work done, interactively rebases from common ancestor
  wd = ! git rebase -i $(git merge-base origin/master $(git rev-parse --abbrev-ref HEAD))~1

[pull]
  rebase = true

[init]
  defaultBranch = main

[credential]
  helper = store

# Extra Tools

# vim-mergetools
[merge]
  tool = nvimdiff
  conflictstyle = diff3

[mergetool "vimdiff"]
  cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
  prompt = false
  keepBackup = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
  trustExitCode = true
  prompt = false
  keepBackup = false

[delta]
  features = gruvbox theme
  paging = never

[delta "gruvbox"]
  # tune using the `delta --show-config` command

  # file
  file-style = 12 bold box
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  file-decoration-style = 10

  # grep results
  grep-file-style               = 12 bold
  grep-line-number-style        = 11


  # no hunk headers
  hunk-label = "***"
  hunk-header-style = line-number

  # line numbers
  line-numbers = true
  line-numbers-left-style = 8
  line-numbers-right-style = 8
  line-numbers-minus-style = 9
  line-numbers-plus-style = 10
  line-numbers-zero-style = 8
  line-numbers-left-format = " {nm:>3} │"
  line-numbers-right-format = " {np:>3} │"

  # empty lines changes
  minus-empty-line-marker-style = normal
  plus-empty-line-marker-style = normal

  # diff contents
  zero-style = italic
  inline-hint-style = syntax
  minus-style = 9
  minus-non-emph-style = 9
  minus-emph-style = 9 ul
  plus-style = syntax
  plus-non-emph-style = syntax
  plus-emph-style = 10 ul
  whitespace-error-style = 9 reverse

  # commit hash
  commit-decoration-style = normal box
  commit-style = 9 italic

  # blame
  blame-code-style = syntax
  blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
  blame-palette = "#000000" "#1d2021" "#282828" "#3c3836"

  # merge conflicts
  merge-conflict-begin-symbol = ⌃
  merge-conflict-end-symbol = ⌄
  merge-conflict-ours-diff-header-style = "#fabd2f" bold
  merge-conflict-theirs-diff-header-style = "#fabd2f" bold overline
  merge-conflict-ours-diff-header-decoration-style = ''
  merge-conflict-theirs-diff-header-decoration-style = ''

[color "branch"]
  remote = yellow
  current = blue

[color "status"]
  header = italic
  branch = blue italic
  added = green
  changed = yellow
  untracked = dim italic

[user]
  name = Ilyès Semlali

[tag]
  sort = v:refname

[advice]
	skippedCherryPicks = false
