Xcursor.theme: Breeze
Xcursor.size: 32

# define FONT -*-*-*-*-*-*-20-*-*-*-*-*-*-1

XLock.description: off
XLock.timeelapsed: on
XLock.unlockdelay: 0
XLock.use3d: off
XLock.erasemode: no_fade
XLock.usefirst: on
XLock.username:
XLock.validate: Checking password
XLock.validsound: complete.au
XLock.verbose: off
XLock.visual:
XLock.vtlock: on
XLock.timeout: 5
XLock.icongeometry:
XLock.hide: on
XLock.info:
XLock.infosound: identify-please.au
XLock.install: on
XLock.invalid: Wrong password
XLock.invalidCapsLock: Caps Lock is on !
XLock.invalidsound: not-programmed.au
XLock.lockdelay: 60
XLock.locksound: thank-you.au
XLock.logoutCmd:
XLock.mailCmd:
XLock.mailIcon:
XLock.message:
XLock.messagefile:
XLock.messagesfile:
XLock.mode: penrose
XLock.mono: off
XLock.mousemotion: off
XLock.nice: 10
XLock.nomailIcon:
XLock.none3d: Black
XLock.password:
XLock.sound: off
XLock.showdate: on
XLock.showfps: off

XLock.font: FONT
XLock.planfont: FONT
XLock.messagefont: FONT

/* XLock.grabmouse: off */
/* XLock.grabserver: off */
XLock.geometry:
XLock.foreground: White
XLock.background: Black
XLock.random.modelist: penrose
XLock.dpmsoff: 120
XLock.dpmsstandby: -1
XLock.dpmssuspend: 0

XLock.penrose.ammann: False
XLock.penrose.bitmap:
XLock.penrose.count: 1
XLock.penrose.cycles: 1
XLock.penrose.delay: 10000
XLock.penrose.ncolors: 64
XLock.penrose.saturation: 1
XLock.penrose.size: -40

XLock.random.bitmap:
XLock.random.count: 1
XLock.random.cycles: 1
XLock.random.delay: 1
XLock.random.duration: 30
XLock.random.fullrandom: False
XLock.random.ncolors: 64
XLock.random.saturation: 1
XLock.random.sequential: True
