configuration {
  timeout {
      delay:  15;
      action: "kb-cancel";
  }
  modi: "drun,window,ssh,combi";
  font: "comfortaa 12";
  combi-modi: "drun,window,ssh";
  icon-theme: "pumpkin_icons";
  show-icons: true;
}

@theme "pumpkin"
