[Desktop Entry]
Name=pumpkin

[ContrastEffect]
enabled=false
contrast=0.2
#intensity is disabled, in order to auto adjust to the chosen theme color
#intensity=2.0
saturation=1.7
